*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto, Helvetica, sans-serif;
	overflow: hidden;
	font-size: 16px;
}

body{
	background: #4B5F9B;
}
.trello{
	
	position: relative;
	display: flex;
	margin: 25px;
}

.board{
	display: flex;
	flex-direction: column;
	background-color: rgba(57, 60, 70, .6);
	padding: 10px 15px 20px 15px;
	margin-right: 15px;
	border-radius: 4px;
	width: 250px;
	font-weight: 500;
}

.board-item{
	padding: 5px 10px;
	display: flex;
	flex-direction: column;
}



.title{
	font-weight: 300;
	color: white;
	border-radius: 4px;
}

.title:focus{
	outline: 1px solid black;
}

.list-item{
	text-align: center;	
	padding: 10px 15px;
	background-color: white;
	border-radius: 4px;
	outline: none;
	margin-bottom: 5px;
}

.list-item:last-child{
	margin-bottom: 0;
}

.form-btns{
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}

.btn{
	padding: 8px 12px;
	border: 1px solid black;
	border-radius: 4px;
	color: white;
}

.btn:hover{
	border: 1px solid black;
}

.add_list_item_btn{
	border: 1px solid #2B5BF0;
	background-color: #2B5BF0;
	margin-right: 5px;
	flex-grow: 1;
}
.add_list_item_btn:active{
	background-color: #234FD9;
}
.cancel_btn{
	border: 1px solid #C6392E;
	background-color: #C6392E;
}
.cancel_btn:active{
	background-color: #AA281E;
}

.add_item_btn{
	border: 1px solid rgb(57,60,70);
	font-weight: 300;
	color: white;
	background-color: rgb(57,60,70);
	margin: 5px 10px 0px 10px;
}

.add_item_btn:active{
	background-color: #2E3139;
}

.form-textarea{
	border-radius: 4px;
	padding: 5px;
	resize: vertical;
}

.form-textarea:focus{
	outline: 1px solid black;
}

.add_board_btn{
	position: absolute;
	color: black;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);

	border: 1px solid rgb(57,60,70);
	font-weight: 300;
	color: white;
	background-color: rgb(57,60,70);
}

.add_board_btn:active{
	background-color: #2E3139;
}